body {
    margin-left: 15%;
    margin-right: 15%;

    height: 1200px;
    width: auto;
    
    background-image: url(style/img/backgroung.jpg);
    background-attachment: fixed;
    background-size:auto;

   
   
    
}/*
header{text-align: center;
    font-size:25%;
    height: 70px;
    width: 100%;
    float: right;
    border: 3px;
    border-color: black;
    border-style: solid;
    border-radius: 12px;
    background-position: center center;
    background-repeat: no-repeat;
    font-size:medium;
}
*/

img{
    height:416px; 
    width:736px;
    margin-left: 5px;
    margin-right: 5px;
}
.midinfo{text-align: center;
    color: white;
    font-size: 40px;
}
.clear_coment{
  background: url('style/img/up.ico');
  float: right;
    height: 24px;
    width: 24px;

}

.list{
    background-color: white;
    margin-top: 20px;
    border: 3px;
    border-color: black;
    border-style: solid;
    border-radius: 12px;
}
.buttons{
    color: black;
    margin-top: 20px;
    border: 3px;
    border-color: black;
    border-style: solid;
    border-radius: 12px;
    background-color: white;
}
.forms{
    background-color: orange;
    margin-top: 20px;
    border: 3px;
    border-color: black;
    border-style: solid;
    border-radius: 12px;
}

.pictures{
    text-align: center;
    margin-top: 20px;
    border: 3px;
    border-color: black;
    border-style: solid;
    border-radius: 12px;

}

.wiki{text-align: center;
    margin-top: 20px;
    border: 3px;
    border-color: black;
    border-style: solid;
    border-radius: 12px;
    background-color: white;
}






